{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>II-20 – Multimedia analytics</title>
	<link rel="icon" href="{% static "favicon.png" %}">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static "aimodel/tetris.css" %}">
	{% block css %}
	{% endblock %}

	{% block external_js %}
	{% endblock %}
</head>
<body>
	{% block inline_js %}
	{% endblock %}
	
		<div class="logowrapper">
			<img src="{% static "aimodel/tetris_paths.svg" %}" alt="MM-Tetris" class="logo">
		</div>
		<div class="menu">
			{% if user.is_authenticated %}				
				<a href="/main">Main menu</a>				
			{% else %}
				<span>&nbsp;</span>
			{% endif %}
		</div>

	{% block content %}
	{% endblock %}
</body>
</html>