[Unit]
Description=Gunicorn instance for MM-Tetris
After=network.target

[Service]
User=mmtetris
Group=www-data

# We'll then map out the working directory and set the PATH environmental variable so that the init system knows where our the executables for the process are located (within our virtual environment).
WorkingDirectory=/home/mmtetris/sw/tetris/tetris_app
Environment="PATH=/home/mmtetris/sw/tetris/env_tetris/bin"

# We'll then specify the command to start the service
ExecStart=/home/mmtetris/sw/tetris/env_tetris/bin/gunicorn tetris.wsgi:application -c /home/mmtetris/sw/tetris/tetris_app/config/gunicorn/tetris.py

# This will tell systemd what to link this service to if we enable it to start at boot. We want this service to start when the regular multi-user system is up and running:
[Install]
WantedBy=multi-user.target